@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";
@import "sass/container.scss";
@import "sass/mixins.scss";

body {
    font-family: 'Libre Franklin', sans-serif;
}

//=======LANDING========//
.landing{
    position: relative;
    width: 100%;
    min-height: 100%;
}

.main-bg-pic {
    position: absolute;
    background: url(../img/nail-hammer-bg.jpg) no-repeat center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
       background-size: cover;
    width: 100%;
    height: 600px;
}

.greeting {
    width: 70%;
    margin: auto;
    margin: 200px auto 0 auto;
    .welcome{
        font-size: 100px;
    }
}
