@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";
@import "sass/container.scss";
@import "sass/mixins.scss";

body {
    font-family: 'Libre Franklin', sans-serif;
}

.clearfix {
    clear: both;
}

//=======LANDING========//
h1 {
    text-align: center;    
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 46px;
}

.landing {
    width: 100%;
    height: 500px;
    background: url(../img/polish-bg.jpg) center no-repeat;
    background-size: cover;
}

.greeting {
    margin: auto;
    padding-top: 170px;
    margin-left: 170px;
}

.welcome{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    line-height: 50px;
    color: white;
}
.sub-welcome {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    padding-left: 20px;
    color: $orange;
}

.squares {
    width: 100%;
    background: url(../img/polish-art.jpg) center no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 70px;
    a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 300;
        &:hover {
            color: $orange;
        }
        .arrow {
            padding-left: 8px;
        }
    }
}


.square-inside {
    width: 1100px;
    margin: auto;
    padding-bottom: 70px;
}

.square1 {
    display: inline-block;
    margin: -130px 30px 15px;
    width: 300px;
    height: 300px;
    background: url(../img/polish-drop-green.png) center no-repeat;
    background-size: cover;
}

.square2 {
    display: inline-block;
    margin: -130px 30px 15px;
    width: 300px;
    height: 300px;
    background: url(../img/polish-drop-blue.png) center no-repeat;
    background-size: cover;
}

.square3 {
    display: inline-block;
    margin: -130px 30px 15px;
    width: 300px;
    height: 300px;
    background: url(../img/polish-drop-black.png) center no-repeat;
    background-size: cover;
}

.squares-pinkish {
    width: 100%;
    height: 130px;
    background-color: $pinkish;
}

.special-box {
    position: relative;
    background-color: black;
    width: 500px;
    padding: 20px 60px 60px;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    color: $off-white;
}

//=======TESTIMONIAL SECTION========//
.testimonials {
    background-color: white;
    padding: 20px 0 80px;
    color: black;
    text-align: center;
    width: 90%;
    margin: auto;
}

.testimonial {
    width: 33.3%;
    float: left;
    padding: 20px 100px;
}

//=======CONTACT BOX SECTION========//
.contact {
    position: relative;
    width: 100%;
    background: url(../img/orange-sparkle.jpg) center no-repeat;
    background-size: cover;
    padding: 80px 0;
    color: $off-white;
    text-align: center;
}

.contact-box {
    position: relative;
    background-color: black;
    width: 500px;
    padding: 20px 60px 60px;
    margin: auto;
}

.facebook {
  padding: 2px 13px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  background-color: $light-orange;
  &:hover {
      background-color: white;
      color: $light-orange;
  }
}

.email-form {
    display: inline-block;
    width: 100%;
    margin: auto;
    float: left;
    padding-bottom: 30px;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    input, textarea {
        background-color: black;
        width: 100%;
        border: solid 1px white;
        padding: 5px;
        color: white;
        font-weight: 300;
        &:focus {
            border: solid 1px white;
        }
    }
    
    [type="submit"] {
        background-color: white;
        font-size: 16px;
        color: black;
        letter-spacing: 0.06em;
        width: 100px;
        padding: 5px;
        cursor: pointer;
        border: none;
        float: right;
        &:hover {
            background-color: white;
            color: $light-orange;
        }
    }

    
    textarea{
        height: 120px;
    }
    
    label {
        display: block;
        margin-bottom: 20px;
        span {
            display: block;
        }
    }
}

.direction {
    color: $light-orange;
    font-weight: 300;
    text-decoration: none;
    .arrow {
        padding-left: 5px;
    }
    &:hover {
        color: white;
    }
}

//=======SERVICE PAGE========//
.services {
    background: url(../img/polish-wallpaper.jpg) ;
    //background-size: cover;
    width: 100%;
    padding: 60px 0;
}

.services-box,
.services-box-2,
.services-box-3 {
    background-color: $orange;
    color: white;
    margin: 0 auto 30px;
    width: 600px;
    padding: 20px 60px 60px;
}

.service-title {
    color: black;
}

.service-price, {
    color: black;
    float: right;
}

.service-content {
    font-size: 14px;
    text-indent: 15px;
}

//=======GALLERY PAGE========//
.gallery {
    position: relative;
    width: 100%;
    background: url(../img/many-polish-drops1.jpg) center no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.carousel {
    width: 60%;
    margin: auto;
}

//=======FOOTER SECTION========//
footer{
    width: 100%;
    background-color: black;
    color: $off-white;
    font-size: 14px;
    color: $off-white;
    text-align: center;
    a {
        color: white;
        &:hover {
            color: $light-orange;
        }
    }
}

.footer-container {
    width: 75%;
    margin: auto;
    padding: 30px 0;
}


@media screen and (max-width: 620px) {
    .greeting {
        margin-left: 25px;
    }
    
    .welcome{
        font-size: 70px;
    }
    .sub-welcome {
        font-size: 14px;
    }
    
    .special-box,
    .contact-box{
        width: 280px;
        padding: 20px 30px 60px;
    }
    
    .services-box {
        width: 95%;
        padding: 10px 20px 60px;
    }
}

@media (min-width: 733px) and (max-width: 1096px) {
    .square-inside {
        width: 750px;
    }

    .square1,
    .square2,
    .square3 {
        width: 200px;
        height: 200px;
        margin: 15px 20px;
        font-size: 24px;
    }
    
    .squares-pinkish {
        display: none;
    }
    
    .testimonial {
        padding: 20px 40px;
    }
}

@media (min-width: 542px) and (max-width: 732px) {
    .square-inside {
        width: 550px;
    }
    
    .square1,
    .square2,
    .square3 {
        width: 160px;
        height: 160px;
        margin: 15px 10px;
        font-size: 18px;
    }
    
    .squares-pinkish {
        display: none;
    }
    
    .testimonial {
        width: 100%;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 541px) {
     .square-inside {
        width: 100%;
    }
    
    .square1,
    .square2,
    .square3 {
        width: 200px;
        float: none;
        height: 200px;
        margin: 15px 0 15px 0;
        font-size: 24px;
    }
    
    .squares-pinkish {
        display: none;
    }
    
    .testimonial {
        width: 100%;
        padding: 20px 40px;
    }
}