@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";
@import "sass/container.scss";
@import "sass/mixins.scss";

body {
    font-family: 'Libre Franklin', sans-serif;
}

.clearfix {
    clear: both;
}

//=======LANDING========//
.landing {
    width: 100%;
    height: 500px;
    background: url(../img/polish-bg.jpg) center no-repeat;
    background-size: cover;
}

.greeting {
    margin: auto;
    padding-top: 170px;
    margin-left: 300px;
}

.welcome{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    line-height: 50px;
    color: white;
}
.sub-welcome {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    padding-left: 20px;
    color: $orange;
}

.squares {
    width: 100%;
    height: 150px;
    background-color: $pinkish;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        &:hover {
            color: white;
        }
    }
}

.square-inside {
    width: 1100px;
    margin: auto;
}

.square1 {
    display: inline-block;
    margin: 15px 30px;
    width: 300px;
    height: 300px;
    background: url(../img/polish-drop-pink.png) center no-repeat;
    background-size: cover;
}

.square2 {
    display: inline-block;
    margin: 15px 30px;
    width: 300px;
    height: 300px;
    background: url(../img/polish-drop-blue.png) center no-repeat;
    background-size: cover;
}

.square3 {
    display: inline-block;
    margin: 15px 30px;
    width: 300px;
    height: 300px;
    background: url(../img/polish-drop-glitter.png) center no-repeat;
    background-size: cover;
}

@media (min-width: 621px) and (max-width: 750px) {
    .greeting {
        margin-left: 240px;
    }
}

@media screen and (max-width: 620px) {
    .greeting {
        margin-left: 30px;
    }
    
    .welcome{
        font-size: 70px;
    }
    .sub-welcome {
        font-size: 14px;
    }
}

@media (min-width: 733px) and (max-width: 1096px) {
    .square-inside {
        width: 750px;
    }

    .square1,
    .square2,
    .square3 {
        width: 200px;
        height: 200px;
        margin: 15px 20px;
        font-size: 24px;
    }
}

@media (min-width: 542px) and (max-width: 732px) {
    .square-inside {
        width: 550px;
    }
    
    .square1,
    .square2,
    .square3 {
        width: 160px;
        height: 160px;
        margin: 15px 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 541px) {
     .square-inside {
        width: 100%;
    }
    
    .square1,
    .square2,
    .square3 {
        width: 200px;
        float: none;
        height: 200px;
        margin: 15px 0 15px 55px;
        font-size: 24px;
    }
}