@import "colors.scss";
@import "mixins.scss";

.navbar-container {
    position: absolute;
    width: 200px;
    padding-bottom: 10px;
    background-color: white;
    margin-left: 40px;
    //border-left: 1px solid $orange;
    //border-right: 1px solid $orange;
    z-index: 200;
}

.logo-container {
    position: relative;
    width: 140px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    .logo {
        width: 140px;
        height: 80px;
    }
}

.navbar {
    list-style: none;
    li {
        padding: 10px;
    }
}

.nav-link {
    color: $orange;
    text-decoration: none;
    padding-top: 10px;
    &:hover {
        color: $orange;
    }
}

.hamburger {
    display: none;
    color: white;
    width: 100%;
    font-size: 40px;
    padding: 10px 20px 0 0;
    text-align: right;
    &:hover {
        cursor: pointer;
    }
}

.drop-menu {
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 0;
    margin-top: 50px;
}

.drop-ul {
    background-color: white;
    list-style:none;
    padding-left:0;
}

.drop-li {
    padding: 15px;
    font-weight: 300;
}

.drop-link {
    text-decoration: none;
    font-size: 16px;
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width: 620px) {
    
    .header.hidden {
        transform: translateY(0);
    }
    
    .navbar,
    .logo-container {
        display: none;
    }
    
    .navbar-container {
        width: 100%;
        margin: 0;
        border: none;
        background-color: $orange;
        
    }
    
    .hamburger {
        display: inline-block;
    }
}

